force-app/main/default/flows/Car_Return_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLinkRec.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Content_Document_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLinkRec.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLinkColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocumentLinkRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_the_Car_Details_for_Update</name>
        <label>Populate the Car Details for Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updateCarRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking_Record.Car__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCarRecord.Fuel_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fuel_Level</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Car_Damage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Car_Details_for_Damage</name>
        <label>Update Car Details for Damage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updateCarRecord.Availability_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under Maintenance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCarRecord.Damage_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Damage_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_For_Agents</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>defaultStars</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Car_Damage</name>
        <label>Is Car Damage ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Car_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No it is not Damage</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_Damage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_any_damage_on_Car</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Car_Details_for_Damage</targetReference>
            </connector>
            <label>Yes it is Damage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Images_Uploaded</name>
        <label>Is Images Uploaded ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Car_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Images Uploaded</defaultConnectorLabel>
        <rules>
            <name>Yes_Images_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocumentLinkColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Document_Link_Record</targetReference>
            </connector>
            <label>Yes Images Uploaded</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>fuelLevelChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fuel_Level__c</picklistField>
        <picklistObject>Car__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>refundAmtFrm</name>
        <dataType>Currency</dataType>
        <expression>IF({!Refund_Full_Security_Deposit},{!Get_Booking_Record.Total_Security_Deposit_Paid__c},{!Get_Booking_Record.Total_Security_Deposit_Paid__c} - ({!Get_Booking_Record.Total_Security_Deposit_Paid__c} * ({!Deduct_Deposit_Value}/100)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>taskDueDate</name>
        <dataType>Date</dataType>
        <expression>today() + 1</expression>
    </formulas>
    <interviewLabel>Car Return Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Car Return Checklist</label>
    <loops>
        <name>Process_Content_Document_Id</name>
        <label>Process Content Document Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>uploadContentDocumentList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Images_Uploaded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link_Record</name>
        <label>Create Content Document Link Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Car_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>contentDocumentLinkColl</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Maintenance_Case</name>
        <label>Create Maintenance Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Process_Content_Document_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Booking_Record.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Enter_Damage_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_For_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Booking__c</field>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Car__c</field>
            <value>
                <elementReference>Get_Booking_Record.Car__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Damage</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Refund_Payment_Transaction</name>
        <label>Create Refund Payment Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Review_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>refundAmtFrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </inputAssignments>
        <object>Payment_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Review_Record</name>
        <label>Create Review Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Booking_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>RatingComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>Get_Booking_Record.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>starRating.value</elementReference>
            </value>
        </inputAssignments>
        <object>Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_For_Agents</name>
        <label>Create Task For Agents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_For_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Booking_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Booking_Record.Car__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking_Record</name>
        <label>Get Booking Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Car_Return_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_For_Case</name>
        <label>Get Record Type For Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Maintenance_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking_Record</name>
        <label>Update Booking Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deduction_Of_Deposit__c</field>
            <value>
                <elementReference>Deduct_Deposit_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Booking_Completion_Audit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Security_Refund_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Car_Details</name>
        <label>Update Car Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Refund_Payment_Transaction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>updateCarRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Car_Return_Checklist</name>
        <label>Car Return Checklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Populate_the_Car_Details_for_Update</targetReference>
        </connector>
        <fields>
            <name>Capture_Fuel_and_Damage_Check</name>
            <fieldText>Capture Fuel and Damage Check</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capture_Fuel_and_Damage_Check_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fuel_Level</name>
                    <choiceReferences>fuelLevelChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fuel Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Fuel_and_Damage_Check_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_any_damage_on_Car</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Is any damage on Car ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Capture_Damage_Details</name>
            <fieldText>Capture Damage Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capture_Damage_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_Damage_Notes</name>
                    <fieldText>Enter Damage Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;In case of damage, Damage notes cannot be blank&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Is_any_damage_on_Car} &amp;&amp; LEN({!Enter_Damage_Notes}) != 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Damage_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LoadDamageImages</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Damage Image</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>uploadContentDocumentList</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_any_damage_on_Car</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Capture_Refund_Details</name>
            <fieldText>Capture Refund Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capture_Refund_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Refund_Full_Security_Deposit</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Refund Full Security Deposit ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Refund_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deduct_Deposit_Value</name>
                    <dataType>Number</dataType>
                    <fieldText>Deduct Deposit Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter the value in form of % only.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Deduct Deposit % must be greater than Zero&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
{!Refund_Full_Security_Deposit},
{!Deduct_Deposit_Value} &gt; 0
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Capture_Customer_Feedback</name>
            <fieldText>Capture Customer Feedback</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capture_Customer_Feedback_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>starRating</name>
                    <extensionName>c:StarRatingComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxValue</name>
                        <value>
                            <elementReference>defaultStars</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Customer_Feedback_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RatingComments</name>
                    <fieldText>Rating Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please share the review comments.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!starRating.value} &gt;= 3,NOT(ISBLANK({!RatingComments})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Car Return Checklist Operation Failed - Due to below error&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(205, 24, 24); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Booking_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>caseSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Damage Reported for Car - {!Get_Booking_Record.Car__r.Name}{!Get_Booking_Record.Car__r.Name} on Booking {!Get_Booking_Record.Name}.</text>
    </textTemplates>
    <textTemplates>
        <name>taskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This car has been reported as damaged and is now &apos;Under Maintenance&apos;. Please review all upcoming &apos;Pending&apos; and &apos;Confirmed&apos; bookings for this vehicle and arrange for an alternative car for the affected customers</text>
    </textTemplates>
    <textTemplates>
        <name>taskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Action Required: Re-assign future bookings for damaged car : {!Get_Booking_Record.Car__r.Name}{!Get_Booking_Record.Car__r.Name}</text>
    </textTemplates>
    <variables>
        <name>contentDocumentLinkColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocumentLinkRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateCarRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Car__c</objectType>
    </variables>
    <variables>
        <name>uploadContentDocumentList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
