force-app/main/default/flows/Estimate_your_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculations_for_Booking</name>
        <label>Calculations for Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BookingDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmBookingDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmBookingPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NetPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmNetPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecurityDeposit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmSecurityDeposit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estimation_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Coupon_Code_Not_Valid_Flag</name>
        <label>Set Coupon Code Not Valid Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isCounponCodeValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iniEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Of_Booking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iniStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Of_Booking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Estimate_your_Booking</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Coupon_Code_Validity</name>
        <label>Check Coupon Code Validity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Coupon_Code_Not_Valid_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not valid</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Coupon_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_System_Threshold</targetReference>
            </connector>
            <label>Yes it is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Coupon_Code_Entered</name>
        <label>Is Coupon Code Entered ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_System_Threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Entered</defaultConnectorLabel>
        <rules>
            <name>Yes_Coupon_code_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_Coupon_Code</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Coupon_Code</targetReference>
            </connector>
            <label>Yes , Coupon code Entered</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmBookingDays</name>
        <dataType>Number</dataType>
        <expression>IF({!Start_Date_Of_Booking} =={!End_Date_Of_Booking}, 1, {!End_Date_Of_Booking} - {!Start_Date_Of_Booking})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmBookingPrice</name>
        <dataType>Currency</dataType>
        <expression>{!BookingDays} * {!Get_Car_Details.Rental_Rate_Per_Day__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmNetPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(NOT(ISBLANK({!Enter_Coupon_Code})),{!BookingPrice} - (({!Get_Coupon_Code.Discount_Percentage__c}/100) * {!BookingPrice}),{!BookingPrice})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmSecurityDeposit</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Get_System_Threshold.Value__c})/100 * {!NetPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Estimate your Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Estimate your Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Car_Details</name>
        <label>Get Car Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estimate_your_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Car__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Coupon_Code</name>
        <label>Get Coupon Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Coupon_Code_Validity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Coupon_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Coupon_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Threshold</name>
        <label>Get System Threshold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculations_for_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Threshold_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Security_Deposit_Percentage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>System_Thresholds__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Estimate_your_Booking</name>
        <label>Estimate your Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Coupon_Code_Entered</targetReference>
        </connector>
        <fields>
            <name>EstimateYourBookingDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;&lt;em&gt;Estimate Your Booking&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Car_Details</name>
            <fieldText>Car Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Car_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Car_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Car_Details.Name</elementReference>
                    </defaultValue>
                    <fieldText>Car Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fuel_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Car_Details.Fuel_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Fuel Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Car_Details.PickupLocation__c</elementReference>
                    </defaultValue>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Car_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rental_Rate_Per_Day</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Car_Details.Rental_Rate_Per_Day__c</elementReference>
                    </defaultValue>
                    <fieldText>Rental Rate Per Day</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Transmission_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Car_Details.Transmission_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Transmission Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Booking_Details</name>
            <fieldText>Enter Booking Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Booking_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Of_Booking</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>iniStartDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date Of Booking</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Start Date of Booking must be future date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Start_Date_Of_Booking} &gt; today()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Enter_Coupon_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Enter Coupon Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CouponCodeErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 10, 10);&quot;&gt;Coupon Code is Not valid or inactive&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCounponCodeValid</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Booking_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date_Of_Booking</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>iniEndDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date Of Booking</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;End Date must after the start date of booking&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!End_Date_Of_Booking} &gt;= {!Start_Date_Of_Booking}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Estimate Now !</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Estimation_Summary</name>
        <label>Estimation Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Estimation_Summary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Estimation_Summary_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>carImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CarOnRentalLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageCSS</name>
                        <value>
                            <stringValue>padding-top: 40px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>180px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>180px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Estimation_Summary_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>companyInfomation</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;&lt;u&gt;Estimation&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(225, 214, 16);&quot;&gt;{!$Organization.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(11, 11, 11);&quot;&gt;Address : &lt;/strong&gt;&lt;span style=&quot;font-size: 20px; color: rgb(11, 11, 11);&quot;&gt;{!$Organization.Street},{!$Organization.City},{!$Organization.State},{!$Organization.Country}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(11, 11, 11);&quot;&gt;Phone&lt;/strong&gt;&lt;span style=&quot;font-size: 20px; color: rgb(11, 11, 11);&quot;&gt; : {!$Organization.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(11, 11, 11);&quot;&gt;Date : &lt;/strong&gt;&lt;span style=&quot;font-size: 24px; color: rgb(11, 11, 11);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Estimation_Summary_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Estimation_Summary_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Estimation_Summary_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bookingSummaryDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Car Name :&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!Car_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Transmission Type&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;:&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!Transmission_Type}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Fuel Type :&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!Fuel_Type}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Pickup Location :&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!Location}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Booking Start Date : &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Start_Date_Of_Booking}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Booking End Date :&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!End_Date_Of_Booking}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Booking Days :&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!BookingDays}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Discount :&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!Get_Coupon_Code.Discount_Percentage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Booking Price :&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!BookingPrice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Security Deposit :&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!SecurityDeposit}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Net Price :&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; {!NetPrice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;em&gt;Thank You For Enquiry !!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Car_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BookingDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BookingPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>iniEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iniStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCounponCodeValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NetPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Car Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecurityDeposit</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
