force-app/main/default/flows/Post_Booking_Automation_Field_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_Base_Price</name>
        <label>Calculate Base Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BasePriceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BasePriceFrm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>BasePriceFrm</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Car__r.Rental_Rate_Per_Day__c} * ({!$Record.End_Date_Time__c} - {!$Record.Start_Date_Time__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>finalBookingPriceFrm</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Coupon_Code__c}),
{!BasePriceValue},
{!BasePriceValue} - ({!$Record.Coupon_Code__r.Discount_Percentage__c}/100) * {!BasePriceValue})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Post Booking Automation - Field Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Booking Automation - Field Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booking_Record</name>
        <label>Update Booking Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Final_Booking_Price__c</field>
            <value>
                <elementReference>finalBookingPriceFrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Base_Price</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BasePriceValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
