force-app/main/default/flows/Post_Booking_Cancellation_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Cancellation_Amount</name>
        <label>Cancellation Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancellationAmt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecurityRefundAmt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancellationAmt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>paymentTransactionInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_if_Rent_Payment_paid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rent_Payment_Refund_Transaction</name>
        <label>Rent Payment Refund Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Paid_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionInstance.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentTransactionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>paymentTransactionInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Payment_Transactions_records_available</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Security_Deposit_Paid</name>
        <label>Check if Security Deposit Paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Checking_if_Rent_Payment_paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Security_Deposit_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Security_Deposit_Paid__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cancellation_Charge_Percent</targetReference>
            </connector>
            <label>Yes Security Deposit Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_for_Payments_Under_Booking</name>
        <label>Checking for Payments Under Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Payment_Done</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Paid_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Security_Deposit_Paid__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Security_Deposit_Paid</targetReference>
            </connector>
            <label>Yes Payment Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_if_Rent_Payment_paid</name>
        <label>Checking if Rent Payment paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Payment_Transactions_records_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Rent_Payment_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Paid_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rent_Payment_Refund_Transaction</targetReference>
            </connector>
            <label>Yes Rent Payment Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Payment_Transactions_records_available</name>
        <label>Is Payment Transactions records available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentTransactionCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Transaction_Records</targetReference>
            </connector>
            <label>Yes it is available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SecurityRefundAmt</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Security_Deposit_Paid__c} - {!$Record.Total_Security_Deposit_Paid__c} * (VALUE({!Get_Cancellation_Charge_Percent.Value__c})/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Post Booking Cancellation Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Booking Cancellation Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Transaction_Records</name>
        <label>Create Payment Transaction Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_the_payment_status_as_Refund</targetReference>
        </connector>
        <inputReference>paymentTransactionCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cancellation_Charge_Percent</name>
        <label>Get Cancellation Charge Percent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancellation_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Threshold_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled_Percentage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>System_Thresholds__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_task_as_Completed</name>
        <label>Update all task as Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Cases_to_Closed</name>
        <label>Update Related Cases to Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_all_task_as_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_payment_status_as_Refund</name>
        <label>Update the payment status as Refund</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Refunded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_for_Payments_Under_Booking</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Update_Related_Cases_to_Closed</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cancellationAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>paymentTransactionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Transaction__c</objectType>
    </variables>
    <variables>
        <name>paymentTransactionInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Transaction__c</objectType>
    </variables>
</Flow>
