force-app/main/default/flows/Post_Booking_Automation_After_Save_activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Customer_For_Booking_Details</name>
        <label>Send Email to Customer For Booking Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Agent_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!emailBody}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Payments</name>
        <label>Check for Payments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Not_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Record_After_24_Hours.Total_Paid_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Booking_Record_After_24_Hours.Total_Security_Deposit_Paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Autocancel_the_booking</targetReference>
            </connector>
            <label>Payment Not Received</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>futureDueDate</name>
        <dataType>Date</dataType>
        <expression>today() + 1</expression>
    </formulas>
    <interviewLabel>Post Booking Automation - After Save activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Booking Automation - After Save activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Agent_Task</name>
        <label>Create Agent Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Publish_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>futureDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Error_Message</name>
        <label>Publish Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quiddity__c</field>
            <value>
                <stringValue>Flow Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Id__c</field>
            <value>
                <stringValue>Post Booking Automation - After Save activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Booking_Record_After_24_Hours</name>
        <label>Booking Record After 24 Hours</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Autocancel_the_booking</name>
        <label>Autocancel the booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <stringValue>Autocancel Booking due to No Payment in 24 Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Customer_For_Booking_Details</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Actions_after_24_Hours_of_Booking</name>
            <connector>
                <targetReference>Booking_Record_After_24_Hours</targetReference>
            </connector>
            <label>Actions after 24 Hours of Booking</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.Customer__r.FirstName}, 
Thank you for initiating your car rental booking with us! Your request for {!$Record.Car__r.Name} has been received and is currently in Pending status. Here are your booking details: 
* Booking Number: {!$Record.Name}
* Car: {!$Record.Car__r.Name} {!$Record.Car__r.Fuel_Type__c},{!$Record.Car__r.Transmission_Type__c}
* Rental Dates: {!$Record.Start_Date_Time__c} to {!$Record.End_Date_Time__c}
* Pickup Location: {!$Record.Car__r.PickupLocation__c} 
* Estimated Rental Price (before discount): {!$Record.Base_Price__c}
* Estimated Net Price (after discount, if applicable): {!$Record.Final_Booking_Price__c}
* Estimated Security Deposit: {!$Record.Security_Deposit__c}
To confirm your booking and secure your vehicle, please proceed with the payment for your rental and security deposit. Your booking will remain in Pending status until payment is received. If payment is not received within 24 hours, your pending booking may be automatically cancelled to free up the vehicle for other customers.
 We look forward to providing you with a great rental experience!
Best Regards
Car Rental Team</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Action Required: Your Booking for {!$Record.Car__r.Name} {!$Record.Start_Date_Time__c} - {!$Record.End_Date_Time__c} is Pending</text>
    </textTemplates>
    <textTemplates>
        <name>taskDesc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Review new booking details, confirm customer information, and follow up if payment is not received within 4 hours. Ensure the customer has received their initial confirmation</text>
    </textTemplates>
    <textTemplates>
        <name>taskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Booking Created: {!$Record.Name} : (Status: Pending)</text>
    </textTemplates>
</Flow>
