force-app/main/default/flows/Sync_Primary_Image.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_any_existing_image_is_Primary</name>
        <label>Is any existing image is Primary ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_Image_of_Car</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Primary Image does not exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Image_already_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Primary_Image</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exiting_Primary_Image_as_Non_Primary</targetReference>
            </connector>
            <label>Yes, Primary Image already exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Primary Image {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Primary Image</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Primary_Image</name>
        <label>Get Existing Primary Image</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_any_existing_image_is_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Car__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Car__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Car_Image__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Exiting_Primary_Image_as_Non_Primary</name>
        <label>Update Exiting Primary Image as Non Primary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Primary_Image_of_Car</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Primary_Image.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Image__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Car_Image__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Image_of_Car</name>
        <label>Update Primary Image of Car</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Primary_Image_Url__c</field>
            <value>
                <elementReference>$Record.Image_Url__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Car__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Primary_Image</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Image__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Car_Image__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
